<!DOCTYPE html>

<html xmlns:sec = "http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
<title>Your Dream House</title>
<link
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	rel="stylesheet">
	<link rel="stylesheet" href="dingbat.css">
</head>

<body>

	<div class="container bg-light justify-content-center">
	
	
			
					<br />
					<h1 class="text-center">The Dingbat</h1>
		
						<img src="/images/crapi.jpg">
						
					<h4>hello</h4>
				
					</div>
				
					
					
</body>
</html>