<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	rel="stylesheet">
<link rel="stylesheet" href="homepage.css">
</head>

<body>
<div class="hero-image">
  <div class="hero-text">
    <h1 style="font-size:80px">Your Dream House</h1>
    <h4 style="font-size:40px">Find your dream house now!</h4>
     <a href="/questions" class="btn btn-primary stretched-link">CLICK HERE!</a>
  </div>
</div>

</body>

<footer class="container-fluid">
  <div class="row">
      <div class="col-md-4">&#169; YourDreamHouse</div>
      <div class="col-md-4">
          <ul class="nav nav-pills justify-content-center">
              <li><a href="registrationform"> &#124; Contact Us  &#124; </a></li>
          </ul>
      </div>
      <div class="col-md-4">
          <p class="text-right"><a href="registrationform">&#124; Sign Up &#124;</a></p>
      </div>
  </div>
</footer>
</html>