<!DOCTYPE html>

<html
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
<title>Your Dream House</title>
<link
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	rel="stylesheet">
<link rel="stylesheet" href="dingbat.css">
</head>

<body>

	<div class="container bg-light justify-content-center">



		<br />
		<h1 class="text-center">Congratulations! Your dream house is The
			Storybook Ranch.</h1>
		<div class="container">
			<div class="row">

				<img src="/images/storybook.jpg"  width="550" height="370">

				<div class="col-sm-4">
					<div class="container bg-light">
						<h5>Half cookie-cutter and half whimsical. A dandelion in a sea of manicured grass.</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="button">
	<a href="/questions" class="btn btn-primary stretched-link">BACK</a>
	</div>

</body>
</html>