<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
	<link
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	rel="stylesheet">
<link rel="stylesheet" href="questions.css">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
	<body>
	

    
		<div class="container bg-light justify-content-center">
		<h1 class="text-center">Sign up now for your Housewarming gift.</h1>	
		<form class="text-center" action="#" th:action="@{/registrationform}" th:object="${user}" method="post">
        <p style="font-size:20px">Name: <input type="text" th:field="*{name}" /></p>
        <p style="font-size:20px">Email: <input type="text" th:field="*{email}"/></p>
        <p style="font-size:20px"><input type="submit" value="Submit" /></p>    
    </form>	
    
    <div th:if= "${user.name != null}">
    <h1></h1>
    <p class="text-center" style="font-size:60px" th:text="'Hello, ' + ${user.name} + '! ' + 'Thank you for signing up.'"/>
    </div>
    </div>
    
    
    
		
	</body>
</html>