<!DOCTYPE html>

<html
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
<title>Your Dream House</title>
<link
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	rel="stylesheet">
<link rel="stylesheet" href="dingbat.css">
</head>

<body>

	<div class="container bg-light justify-content-center">



		<br />
		<h1 class="text-center">Congratulations! Your dream house is The
			Victorian.</h1>
		<div class="container">
			<div class="row">

				<img src="/images/victorian.png"  width="550" height="370">

				<div class="col-sm-4">
					<div class="container bg-light">
						<h5>Not just for creepy ghosts and B&Bs. Grab a teacup and put your pinky out.</h5>
					</div>
				</div>
			</div>
		</div>


	</div>

</body>
</html>